<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Lista de Usuarios</title>
    </head>
    <body>

        <h1>Usuarios Registrados</h1>

        <a th:href="@{/usuarios/nuevo}">➕ Crear Usuario</a>

        <table border="1" cellpadding="8">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Fecha creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="u : ${usuarios}">
                    <td th:text="${u.idUsuario}"></td>
                    <td th:text="${u.nombre}"></td>
                    <td th:text="${u.correo}"></td>
                    <td th:text="${u.rol.nombre}"></td>
                    <td th:text="${u.fechaCreacion}"></td>

                    <td>
                        <a th:href="@{'/usuarios/editar/' + ${u.idUsuario}}">Editar</a> |
                        <a th:href="@{'/usuarios/eliminar/' + ${u.idUsuario}}"
                           onclick="return confirm('¿Seguro que desea eliminar este usuario?')">
                            Eliminar
                        </a>
                    </td>
                </tr>
            </tbody>

        </table>

    </body>
</html>
